
body {
  height: 100vh;display: flex;
  flex-direction: column;
  
  align-items: center;
}

.container{
  font-family: 'Righteous', cursive;
  background-image: url("/images/common.jpg");
  margin-top: 100px;
}

#season,
.btn,
#user {
  font-family: 'Zilla Slab', serif;
  font-size: 18px;
}

.btn {
  border-style: none;
  border-radius: 5px;
}

fieldset {
  
  border:none;
}

legend {
  font-size: 18px;
}

button {
  margin-left: 150px;
  margin-top: 25px;
  padding: 6px 9px;
}
label {
  text-align: right;
}
.dropdown {
  margin-top: 15px;
}